body {
 background: white;
 color: black;
 font-family:	Tahoma, Arial;
 }

div {
 margin-top:	3px;
}

strong {
 margin-top:	6px;
}

table {
  border: 0px;
}

td {
  border: 0px;
}

tr {
  border: 0px;
}

th {
  border: 0px;
  text-align: left;
}

a {
  text-decoration: none;
}


#banner, #banner td { 
 background: white;
 color: black;
 }

#leftcol {
 background: white;
 color: black;
}

#navcolumn {
 background: white;
 color: black;
 }

#breadcrumbs {
 background-color: white;
 color: black;
 border-top: 3px solid black;
 margin-bottom: 10px;
 }

#source {
 background-color: white;
 color: black;
 margin-right: 7px;
 margin-left: 7px;
 }

#source pre {
 margin-right: 7px;
 margin-left: 7px;
 }

a[name]:hover, #leftcol a[name]:hover {
 color: inherit !important;
 }

a:link, #breadcrumbs a:visited, #navcolumn a:visited, .app a:visited, .tasknav a:visited {
 color: black;
 }

a:active, a:hover, #leftcol a:active, #leftcol a:hover {
 color: red !important;
 }

a:link.selfref, a:visited.selfref {
 color: black !important;
 }

dt {
 text-decoration:	bold;
}
 
 #navcolumn {
 border-top: 0px;
 border-bottom: 0px;
 border-right: 0px;
 border-left: 0px;
 }
 
 #footer {
   color: white;
   align: center;
 }
